// 浮动、清除浮动
@mixin clearFix{
  &:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
  }
}

// 水平垂直都居中
@mixin levelVerticalCenter{
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}

// 圆形
@mixin circular($radius: 20px){
  width: $radius; height: $radius;
  border-radius: 50%;
}

// 超出省略号
@mixin textEllipsis{
  max-width:100%;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}

// 三角
@mixin arrow($borderWidth: 5px, $left: 0, $top: 0){
  content: '';
  position: absolute;
  left: $left; top: $top;
  width: 0;
  height: 0;
  font-size: 0;
  border: $borderWidth dashed transparent;
}
// 上三角
@mixin arrow-t($borderBottomWidth: 5px, $borderBottomColor: red){
  border-bottom: $borderBottomWidth solid $borderBottomColor;
}
// 下三角
@mixin arrow-b($borderTopWidth: 5px, $borderTopColor: red){
  border-top: $borderTopWidth solid $borderTopColor;
}
// 左三角
@mixin arrow-l($borderRightWidth: 5px, $borderRighColor: red){
  border-right: $borderRightWidth solid $borderRighColor;
}
// 右三角
@mixin arrow-r($borderLeftWidth: 5px, $borderLeftColor: red){
  border-left: $borderLeftWidth solid $borderLeftColor;
}
// 使用示例
// .k-2{
//   &:after{
//     @include arrow(5px, 5px, 5px);
//     @include arrow-b();
//   }
// }
